
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
               <h2><%-items.title %></h2>
               <h3><%-items.message %></h3>
               <h4><%-items.email %></h4>
               <button><a class="btn btn-primary" href="/post/edit/<%-items.id%>">Edit</a></button>

              <span class="meta">Posted by
              <a href="#">Start Bootstrap</a>
              on August 24, 2019</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  
  <hr>

 